@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

body {
  background-color: $favColor;
}

.logo-image{
  width: 46px;
  height:46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}