@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,200&display=swap');

body {
  background-color: $favColor;
  font-family: 'Montserrat', sans-serif;
}

.logo-image{
  width: 46px;
  height:46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}

.userButton{
  display: block;
}